<h1>{{title}}</h1>


<input type="text" #name placeholder="Enter ur name" name="Name" > <br>

<input type="text" #address placeholder="Enter Address" name="Address" > <br>

<input type="text" #contact placeholder="Enter Contact" name="Contact" > <br>

<input type="text" #email placeholder="Enter Email" name="Email" > <br>

<input type="text" #password placeholder="Enter Password" name="Password" > <br>

<button (click)="getValue(name.value,address.value,contact.value,email.value)"> Register</button>

<h1>Your Registered Data</h1> <br>

<p>Name:{{displayname}}</p>
<p>Address:{{displayaddress}}</p>
<p>Contact:{{displaycontact}}</p>
<p>Email:{{displayemail}}</p>